:root {
    --color-1: #000000;
    --color-2: #050505;
    --color-3: #f4efe6;
    --color-3-60: rgba(244, 239, 230, 0.62);
    --color-3-50: rgba(244, 239, 230, 0.5);
    --color-3-20: rgba(244, 239, 230, 0.16);
    --color-3-10: rgba(244, 239, 230, 0.08);
}
